body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(19, 18, 18);
    width: 100%;
    height: 18%;
    z-index: 1;
    
}

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    color: white;

}
.logo{
    flex: 1 1 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 35px;
    color: white;
}
label #my-btn,
label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width: 600px){
    .navbar img{
        left: 8%;
        width: 50px;

    }
    .nav li a{
        font-size: 17px;
        color: white;
    }
}
@media(max-width: 600px){
    label #my-btn{
        display: block;
    }
    .nav li a{
        font-size: 17px;
    }
}
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

}
li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    padding: 0 10px;
}
li a:hover{
    color: #e73c3c;
}
li a:hover:after{
    width: 100%;
    transition: 0.3s;

}
li a::after{
    content: "";
    position: absolute;
    background-color: #e74c3c;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -10px;
}
h3{ 
    position: relative;
}
h3::after{
    content: "";
    position: absolute;
    background-color: #e74c3c;
    height: 2px;
    width: 100px;
    left: 45%;
    bottom: 0px;
}
.home-area{
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.destination-area, .info-area, .contact-area{
    padding-top: 70px;
}
.text-part{
   align-items: center;
   justify-content: center;

}
h1{
    text-align: center;
    padding-top: 40px;
}

.beginner{
    padding-top: 40px;
    font-size: 5vw;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    -webkit-text-stroke: 0vw #fa1313;
    text-transform: uppercase;
    color: #e74c3c;
}
.beginner::before{
    content: attr(data-text);
    position: absolute;
    color: #e74c3c;
    width: 0;
    -webkit-text-stroke: 0.3vw #ee4b0a;
    border-right: 2px solid #e74c3c;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%,10%,100%
    {
        width:0%;
    }
    70%
    {
        width: 16.6%;
    }
}

html{
    scroll-behavior: smooth;
}
.navbar img{
    width: 80px;
    border-radius: 100px;
    margin-left: 3%;
   
}
.sliding-images{
    width: 100%;
    height: 100vh;
}
.my-label{
    font-size: 2rem;
    padding: 0 1rem;
    margin: 0;
    height: 2rem;
    margin-top: -16rem;
    color: white;
    margin-left: 20%;
}
.my-label i{
    color: #e64533;
    margin-right: 20px;
}
.my-label .author{
    margin-left: 20%;
}
h3{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: 20px 0px 50px 0;
}
.card .image{
    overflow: hidden;
    background: black;
}
.row-image{
    position: relative;
    height: 100%;
    width: 100%;
    transition: 0.3s;
}
.card{
    position: relative;
    width: 390px;
    height: 500px;
    display: block;
    background: white;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.15);
    place-items: center;
    transition: 0.4s linear;
}
.card.active{ 
    box-shadow: 0px 2px 35px 2px rgba(0, 0, 0, 0.3);  
}
.card:hover .row-image{
    opacity: 0.6;
    transform: scale(1.1);
    
}
.card .content{
    position: absolute;
    bottom: 0px;
    background: white;
    width: 100%;
    text-align: center;
    padding: 20px 30px;
}
.content .title{
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}
.content .sub-title{
    font-size: 18px;
    font-weight: 500;
    color: #e74c3c;
}
@media screen and (max-width: 1000px){
    .card{
        width: 70%;
        margin-left: 20%;
        margin-bottom: 30px;
    }
}
.bottom p{
    color: #666666;
    font-size: 16px;
    text-align: justify;
    line-height: 1.8em;
}
.bottom button{
    align-items: center;
    padding-left: 7px 15px;
    font-size: 17px;
    background: #e74c3c;
    color: white;
    font-weight: 500;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}
.bottom button:hover{
    transform: scale(0.9);
    background: #e64533;
}
.bottom{
    display: none;
}
.content p{
    text-align: center;
    font: 25px;
}
.beginner-card2{
    float: right;
}
p{
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}
.contact-us{
    min-height: 100vh;
    background: url(../images/dariusz-sankowski-3OiYMgDKJ6k-unsplash.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}
.contact-us{
    padding-top: 100px;
}
.contact-info{
    padding-left: 50px;
    line-height: 75px;
    font: 10px;
}
.contact-info i{
    margin-right: 20px;
    font-size: 25px;
    color: rgb(231, 225, 225); 
}
.contact-form{
    max-width: 700px;
    
}
h4{
    color: white;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% -10px);
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
    margin-right: 10px;
}
.contact-form .text-box:first-child{
    margin-right: 15px;

}
.contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .send-btn{
    float: right;
    background: #FF5733 ;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;

}
.contact-area{
padding-top: 100px;
}
.contact-form .send-btn:hover{
    background: #F39D56 ;
}
@media screen and(max-width:950px) {
    contact-section{
        flex-direction: column;
    }
    .contact-info .contact-form{
        margin: 30px 50px;
    }
    .contact-form .text-box{
        width: 100%;
    }
    .section{
        margin-top: 100px;
    }
}
.water{
    position: relative;
    text-transform: uppercase;
    margin-left: 50px;
}
.water h2{
    position: absolute;
    font-size: 4em;
}
.water h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #fff5f4;
}
.water h2:nth-child(2){
   color:transparent;
}
h1{
    font-weight: bold;
}
.my-grid{
    margin-top: 250px;
    margin-bottom: 100px;
}
.my-grid ul{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    width: 600px;
    height: 150px;
}
.my-grid ul li{
    list-style: none;
    position:absolute;
    width: 200px;
    height: 200px;
    background: #000;
    margin: -100px;
    transform: rotate(45deg);
    transition: .5s;
    overflow: hidden;
    opacity: .8;
}
.my-grid ul li:hover{
    opacity: 1;
}
.my-grid ul li.item1{
    top: 0;
    left: 0;

}
.my-grid ul li.item2{
    bottom: 0;
    left: 25%;

}
.my-grid ul li.item3{
    top: 0;
    left: 50%;

}
.my-grid ul li.item4{
    bottom: 0;
    left: 75%;

}
.my-grid ul li.item5{
    top: 0;
    left: 100%;
}
.my-grid ul li.bg{
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
}
.my-grid ul li.item1{
    background: url(../images/alice-donovan-rouse-z9F_yK4Nmf8-unsplash.jpg);
    background-size: cover;
   
}
.my-grid ul li.item2{
    background: url(../images/theregisti-H6RdcoTXX_w-unsplash.jpg);
    background-size: cover;
    
    
}
.my-grid ul li.item3{
    background: url(../images/jordan-madrid-iDzKdNI7Qgc-unsplash.jpg);
    background-size: cover;
    
}
.my-grid ul li.item4{
    background: url(../images/marvin-meyer-UDqVWLDiJXg-unsplash.jpg);
    background-size: cover;
    
}
.my-grid ul li.item5{
    background: url(../images/julien-flutto-HPha3t0r4MU-unsplash.jpg);
    background-size: cover;
    
}
.essentials{
    color: rgb(245, 118, 27);
    font-size: 25px;
    transform: rotate(-45deg);
    font-weight: bold;
}