body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(19, 18, 18);
    width: 100%;
    height: 18%;
    z-index: 1;
    
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    color: white;

}
.logo{
    flex: 1 1 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 35px;
    color: white;
}
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

}
li a{
    color: white;
    font-size: 20px;
}
li a:hover{
    color: rgb(233, 192, 145);
}
.home-area{
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.destination-area, .info-area, .contact-area{
    padding-top: 70px;
}
.text-part{
   align-items: center;

}
h1{
    padding-top: 40px;
    font-size: 5vw;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    -webkit-text-stroke: 0.3vw #f8f2f2;
    text-transform: uppercase;
    color: #e74c3c;
}
h1::before{
    content: attr(data-text);
    position: absolute;
    color: #e74c3c;
    width: 0;
    -webkit-text-stroke: 0vw #e0e3ee;
    border-right: 2px solid #e74c3c;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%,10%,100%
    {
        width:0%;
    }
    70%
    {
        width: 21%;
    }
}
p{
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
.navbar img{
    width: 80px;
    border-radius: 100px;
    margin-left: 3%;
   
}
.sliding-images{
    width: 100%;
    height: 100vh;
}
h3{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding: 20px 0px 50px 0;
}
.card .image{
    overflow: hidden;
    background: black;
}
.row-image{
    position: relative;
    height: 100%;
    width: 100%;
    transition: 0.3s;
}
.card{
    position: relative;
    width: 390px;
    height: 500px;
    display: block;
    background: white;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.15);
    place-items: center;
    transition: 0.4s linear;
}
.card.active{ 
    box-shadow: 0px 2px 35px 2px rgba(0, 0, 0, 0.3);  
}
.card:hover .row-image{
    opacity: 0.6;
    transform: scale(1.1);
    
}
.card .content{
    position: absolute;
    bottom: 0px;
    background: white;
    width: 100%;
    text-align: center;
    padding: 20px 30px;
}
.content .title{
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}
.content .sub-title{
    font-size: 18px;
    font-weight: 500;
    color: #e74c3c;
}
.bottom p{
    color: #666666;
    font-size: 16px;
    text-align: justify;
    line-height: 1.8em;
}
.bottom button{
    align-items: center;
    padding-left: 7px 15px;
    font-size: 17px;
    background: #e74c3c;
    color: white;
    font-weight: 500;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s ease;
}
.bottom button:hover{
    transform: scale(0.9);
    background: #e64533;
}
.bottom{
    display: none;
}
.content p{
    text-align: center;
    font: 25px;
}
.beginner-card2{
    float: right;
}